<fieldset class="fieldset">
<%= form_for([:administration,@region]) do |f| %>
  <% if @region.errors.any? %>
    <p class="big-message red-bg">
      <span class="close show-on-parent-hover">X</span>
      <strong><%= pluralize(@region.errors.count, "error") %> prohibited this region from being saved:</strong><br />
      <% @region.errors.full_messages.each do |msg| %>
        <%= msg %><br />
      <% end %>
    </p>
  <% end %>

  <p class="button-height inline-label">
    <%= f.label :name, "Region Name", class: 'label' %>
    <%= f.text_field :name, class: 'input' %>
  </p>

  <p class="button-height">
    <span class="button-group">
      <%= f.submit class: 'button icon-download' %>
      <%= link_to "Cancel", administration_regions_path, class: 'button' %>
    </span>
  </p>
<% end %>
</fieldset>
