<% content_for :main_title do %>
  <h1>Region Maintenance</h1>
<% end %>

<div class="with-padding">

  <table  class="simple-table responsive-table" id="region-list">

    <thead>
      <tr>
        <th scope="col">Region Name</th>
        <th scope="col" width="15%">Date Created</th>
        <th scope="col" width="15%">Date Modified</th>
        <th scope="col" width="120" class="align-right">Actions</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td colspan="4">
          <%= "#{@regions.size} regions found" %>
        </td>
      </tr>
    </tfoot>

    <tbody>

    <% @regions.each do |region| %>
      <tr>
        <th scope="row">
           <%= region.name %> 
        </th>
        <td><%= region.created_at.strftime('%B %-d, %Y %H:%M:%S') %></td>
        <td><%= region.updated_at.strftime('%B %-d, %Y %H:%M:%S') %></td>
        <td class="align-right vertical-center">
          <span class="button-group compact">
            <%= link_to 'Edit', edit_administration_region_path(region), class: "button icon-pencil" %>
            <%= link_to '', [:administration, region], class: "button icon-read with-tooltip", title: "Show" %>
            <%= link_to '', [:administration,region], confirm: 'Are you sure?', method: :delete, class: "button icon-trash with-tooltip confirm", title: "Delete" %>
          </span>
        </td>
      </tr>
    <% end %>

    </tbody>

  </table>

  <div><%= link_to 'New Region', new_administration_region_path, class: 'button icon-star' %></div>

</div>

<% content_for :js_specific do %>
  <script src="/js/libs/DataTables/jquery.dataTables.min.js"></script>
<% end %>

<% content_for :js_specific do %>
    <!-- Template functions -->
    <script src="/js/developr.input.js"></script>
    <script src="/js/developr.navigable.js"></script>
    <script src="/js/developr.notify.js"></script>
    <script src="/js/developr.scroll.js"></script>
    <script src="/js/developr.tooltip.js"></script>

    <script src="/js/developr.table.js"></script>

    <!-- Plugins -->
    <script src="/js/libs/jquery.tablesorter.min.js"></script>
    <script src="/js/libs/DataTables/jquery.dataTables.min.js"></script>
  <% end %>
