<h1>Listing regions</h1>

<table>
  <tr>
    <th>Region Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regions.each do |region| %>
  <tr>
    <td><%= region.name %></td>
    <td><%= link_to 'Show', [:administration, region] %></td>
    <td><%= link_to 'Edit', edit_administration_region_path(region) %></td>
    <td><%= link_to 'Destroy', [:administration,region], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Administration Home', administration_root_url %> |
<%= link_to 'New Region', new_administration_region_path %>
