<% content_for :main_title do %>
  <h1><%= @region.name %></h1>
<% end %>

<% content_for :additional_styles do %>
<link rel="stylesheet" href="/css/styles/form.css?v=1">
<link rel="stylesheet" href="/css/styles/table.css?v=1">
<% end %>

<div class="with-padding">
  <% if flash[:notice] %>
    <p class="message green-gradient glossy">
      <span class="close show-on-parent-hover">X</span>
      <%= flash[:notice] %></p>
  <% end %>

  <p class="button-height">
    <span class="button-group">
      <%= link_to 'Edit Region', edit_administration_region_path(@region), class: 'button' %> 
      <%= link_to 'Back to region list', administration_regions_path, class: 'button' %>
    </span>
  </p>
  <hr>

  <h2 class="thin">Clubs</h2>

  <div class="table-header blue-gradient">
    <%= link_to "Add a club", new_administration_region_club_path(@region), class: 'button compact blue-gradient glossy' %>
  </div>

  <table class="table responsive-table" id="region-list">

    <thead>
      <tr>
        <th scope="col">Club Name</th>
        <th scope="col" width="15%">Date Created</th>
        <th scope="col" width="15%">Date Modified</th>
        <th scope="col" width="120" class="align-right">Actions</th>
      </tr>
    </thead>

    <tbody>

  <% @region.clubs.each do |club| %>
      <tr>
        <th scope="row">
           <%= club.name %> 
        </th>
        <td><%= club.created_at.strftime('%B %-d, %Y %H:%M:%S') %></td>
        <td><%= club.updated_at.strftime('%B %-d, %Y %H:%M:%S') %></td>
        <td class="align-right vertical-center">
          <span class="button-group compact">
            <%= link_to 'Edit', edit_administration_region_club_path(@region,club), class: "button icon-pencil" %>
            <%= link_to '', [:administration, @region, club], class: "button icon-read with-tooltip", title: "Show" %>
            <%= link_to '', [:administration, @region, club], confirm: 'Are you sure?', method: :delete, class: "button icon-trash with-tooltip confirm", title: "Delete" %>
          </span>
        </td>
      </tr>
    <% end %>

    </tbody>

  </table>

  <div class="table-footer">
    <%= "#{@region.clubs.size} clubs found" %>
  </div>

</div>
