<h1>Employee - <%= @user.full_name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @user.employee_id %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Roles:</b>
  <%= @user.roles.split('|').collect {|r| r.humanize}.join(',')  %>
</p>


<%= link_to 'Edit', edit_administration_user_path(@user) %> |
<%= link_to 'Back', administration_users_path %>
