<ul class="unstyled-list open-on-panel-content">
        <li class="big-menu grey-gradient with-right-arrow">
                <span><span class="list-count"><%= @drafts.size %></span>Drafts</span>
                <ul class="message-menu">
                  <% @drafts.each do |message| %>
                        <li>
                                <span class="message-status">
                                </span>
                                <span class="message-info">
                                        <span class="blue"><%= message.updated_at.strftime('%b %d %H:%M') %></span>
                                </span>
                                <%= link_to edit_message_path(message), title: 'Edit Message', remote: true do %>
                                  <strong class="blue"><%= send_tos(message) %></strong><br>
                                        <%= message.subject %>
                                <% end %>
                        </li>
                  <% end %>
                </ul>
        </li>
        <li class="big-menu grey-gradient with-right-arrow">
                <span><span class="list-count"><%= @sent.size %></span>Sent</span>
                <ul class="message-menu">
                  <% @sent.each do |message| %>
                        <li>
                                <span class="message-status">
                                </span>
                                <span class="message-info">
                                        <span class="blue"><%= message.updated_at.strftime('%b %d %H:%M') %></span>
                                </span>
                                <%= link_to message_path(message), title: 'View Message', remote: true do %>
                                  <strong class="blue"><%= send_tos(message) %></strong><br>
                                        <%= message.subject %>
                                <% end %>
                        </li>
                  <% end %>
                </ul>
        </li>
      <% @envelopes.each do |envelope| %>
        <li class="message-menu">
                <span class="message-status">
                        <a href="#" class="unstarred" title="Not starred">Not starred</a>
                      <% if !envelope.is_read? %>
                        <a href="#" class="new-message" title="Mark as read">New</a>
                      <% end %>
                </span>
                <span class="message-info">
                        <span class="blue"><%= envelope.created_at.strftime('%b %d %H:%M') %></span>
                </span>
                <%= link_to message_path(envelope.message), title: 'View Message', remote: true do %>
                        <strong class="blue"><%= envelope.message.author.full_name %></strong><br>
                        <%= envelope.message.subject %>
                <% end %>
        </li>
      <% end %>
</ul>
