<% content_for :main_title do %>
  <h1>Messages</h1>
<% end %>

<% content_for :additional_styles do %>
<link rel="stylesheet" href="/css/styles/progress-slider.css?v=1">
<link rel="stylesheet" href="/css/styles/switches.css?v=1">
<link rel="stylesheet" href="/css/styles/files.css?v=1">
<link rel="stylesheet" href="/css/styles/form.css?v=1">
<link rel="stylesheet" href="/js/libs/CLEditor/jquery.cleditor.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.21/themes/base/jquery-ui.css">
<% end %>

<div class="with-padding">

<div class="content-panel margin-bottom">

<div class="panel-navigation silver-gradient">

    <div class="panel-control">
            <a href="#" class="button icon-undo">Refresh</a>
    </div>

    <div class="panel-load-target scrollable" style="height:490px">

            <div class="navigable">

                    <ul class="unstyled-list open-on-panel-content">
                            <li class="big-menu grey-gradient with-right-arrow">
                                    <span><span class="list-count"><%= @drafts.size %></span>Drafts</span>
                                    <ul class="message-menu">
                                      <% @drafts.each do |message| %>
                                            <li>
                                                    <span class="message-status">
                                                    </span>
                                                    <span class="message-info">
                                                            <span class="blue"><%= message.updated_at.strftime('%b %d %H:%M') %></span>
                                                    </span>
                                                    <%= link_to edit_message_path(message), title: 'Edit Message', remote: true do %>
                                                      <strong class="blue"><%= send_tos(message) %></strong><br>
                                                            <%= message.subject %>
                                                    <% end %>
                                            </li>
                                      <% end %>
                                    </ul>
                            </li>
                            <li class="big-menu grey-gradient with-right-arrow">
                                    <span><span class="list-count"><%= @sent.size %></span>Sent</span>
                                    <ul class="message-menu">
                                      <% @sent.each do |message| %>
                                            <li>
                                                    <span class="message-status">
                                                    </span>
                                                    <span class="message-info">
                                                            <span class="blue"><%= message.updated_at.strftime('%b %d %H:%M') %></span>
                                                    </span>
                                                    <%= link_to message_path(message), title: 'View Message', remote: true do %>
                                                      <strong class="blue"><%= send_tos(message) %></strong><br>
                                                            <%= message.subject %>
                                                    <% end %>
                                            </li>
                                      <% end %>
                                    </ul>
                            </li>
                          <% @envelopes.each do |envelope| %>
                            <li class="message-menu">
                                    <span class="message-status">
                                            <a href="#" class="unstarred" title="Not starred">Not starred</a>
                                          <% if !envelope.is_read? %>
                                            <a href="#" class="new-message" title="Mark as read">New</a>
                                          <% end %>
                                    </span>
                                    <span class="message-info">
                                            <span class="blue"><%= envelope.created_at.strftime('%b %d %H:%M') %></span>
                                    </span>
                                    <%= link_to message_path(envelope.message), title: 'View Message', remote: true do %>
                                            <strong class="blue"><%= envelope.message.author.full_name %></strong><br>
                                            <%= envelope.message.subject %>
                                    <% end %>
                            </li>
                          <% end %>
                    </ul>

            </div>

    </div>

</div>

<div class="panel-content linen">

    <div class="panel-control align-right">
            <%= link_to 'New message', new_message_path, class: 'button icon-star margin-left', remote: true %>
    </div>

    <div id="message-panel" class="panel-load-target scrollable with-padding" style="height:600px">
      <!-- This is where the messages should be displayed -->

    </div>

</div>

</div>

</div>


<% content_for :js_specific do %>
  <script src="/js/developr.input.js"></script>
  <script src="/js/developr.notify.js"></script>
  <script src="/js/developr.scroll.js"></script>
  <script src="/js/developr.progress-slider.js"></script>
  <script src="/js/developr.tooltip.js"></script>
  <script src="/js/developr.content-panel.js"></script>
  <script src="/js/libs/CLEditor/jquery.cleditor.min.js"></script>
<% end %>

